@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CORE CLASSES */

html {
    font-family: 'Roboto', sans-serif;
    background: #003388;
}

body {
    height: 100vh;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: #ffffff
}

nav {
    border: solid #ffffff;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 0 2.5rem;
    height: 85px;
}

section {
    padding: 0 5rem;
    border: solid #ffffff;
    border-left: 0px;
    border-right: 0px;
}

section h1 {
    margin-bottom: 0;
}

section h2 {
  font-weight: inherit;
    margin-top: 0;
}

footer {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


/* CORE UTILITIES */

.ul-nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

.ul-nav li {
    display: block;
    cursor: pointer;
    height: auto;
    background: #ffffff;
    color: #000000;
    font-weight: bolder;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: 0.25s ease-in;
}

.ul-nav li:hover {
    background: #234a8b;
    color: #ffffff;
}


/* PAGES */


/* Index */

#main-header {}

#main-nav {
    background: #003388;
}

#main-section {
    display: flex;
    background: #234a8b;
    color: #ffffff;
    font-size: 12px;
}

.conteudo {
    display: block;
    flex-grow: 1;
    border: 2px solid #ffffff;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    padding: 0 1rem;
    margin: 1rem 0;
}

.conteudo:last-child {
  border-right: 0;
}

.conteudo ul li {
  display: block;
}


/* Aluno */


/* Contato */


/* Utilities */
