@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CORE CLASSES */

html {
    font-family: 'Roboto', sans-serif;
    background: #003388;
}

body {
    height: 100vh;
    margin: 0px;
    animation: loading 1.5s;
}

@keyframes loading {
    from {
      opacity: 0;
      transform: translateX(-1500px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    color: #ffffff;
}

nav {
    border: solid #ffffff;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 0 2.5rem;
    height: 85px;
}

section {
    padding: 0 5rem;
    border: solid #ffffff;
    border-left: 0px;
    border-right: 0px;
}

section h1 {
    margin-bottom: 0;
}

section h2 {
  font-weight: inherit;
    margin-top: 0;
}

footer {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #003388;
}


/* CORE UTILITIES */

.ul-nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

.ul-nav a {
    display: block;
    cursor: pointer;
    height: auto;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: 0.25s ease-in;
}


/* PAGES */


/* Index */

#main-header {
    background: #003388;
}

#main-nav {
    background: #003388;
}

#main-nav .ul-nav a {
    background: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}

#main-nav .ul-nav a:hover {
    background: #234a8b;
    color: #ffffff;
}

#main-section {
    display: flex;
    background: #234a8b;
    color: #ffffff;
    font-size: 12px;
}

.conteudo {
    display: block;
    flex-grow: 1;
    border: 2px solid #ffffff;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    padding: 0 1rem;
    margin: 1rem 0;
}

.conteudo:last-child {
  border-right: 0;
}

.conteudo ul li {
  display: block;
}


/* Aluno */

#aluno-header {
    background: #003388;
}

#aluno-nav {
    background: #ffffff;
}

#aluno-nav .ul-nav a {
    background: #ffffff;
    color: #234a8b;
    border: 1px solid #234a8b;
}

#aluno-nav .ul-nav a:hover {
    background: #234a8b;
    color: #ffffff;
}

#aluno-section {
    display: flex;
    padding: 1.5rem 1rem !important;
    padding: 0;
    background: #ffffff;
    color: #000000;
    font-size: 12px;
    border-color: #234a8b;
}

.img img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: #bbbbbb;
}

.aluno-child-1 {
    flex-grow: 1;
    padding: 0 5rem 1rem 5rem;
    text-align: center;
}

.aluno-child-1 ul {
    padding: 0;
}

.aluno-child-1 ul li {
    display: block;
}

.aluno-child-2 {
    padding-left: 1rem;
    flex-grow: 3;
    border: 2px solid #234a8b;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

.aluno-child-2-1 {
  border: 2px solid #234a8b;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.aluno-child-titulo {
  padding-bottom: 1rem;
  border: 1px solid #000000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: block;
  font-weight: bold;
}

.aluno-child-conteudo {
  display: flex;
}

.aluno-child-conteudo h1 {
  color: #234a8b;
  margin-bottom: 1.5rem;
}

.aluno-child-conteudo h2 {
  color: #000000;
  margin: 0;
}

.aluno-child-conteudo ul {
  flex-grow: 1;
  flex-grow: 1;
  margin-bottom: 1.5rem;
  padding: 0;
}

.aluno-child-conteudo li {
    display: block;
    margin-bottom: 0.5rem;
}

.aluno-child-conteudo ul li:last-child {
    opacity: 0.75;
}

#aluno-footer {
  background: #ffffff;
  color: #000000;
}


/* Contato */

#contato-header {
    background: #003388;
}

#contato-nav {
    background: #ffffff;
}

#contato-nav .ul-nav a {
    background: #ffffff;
    color: #234a8b;
    border: 1px solid #234a8b;
}

#contato-nav .ul-nav a:hover {
    background: #234a8b;
    color: #ffffff;
}

#contato-section {
    display: flex;
    padding: 1.5rem 1rem !important;
    padding: 0;
    background: #ffffff;
    color: #000000;
    font-size: 12px;
    border-color: #234a8b;
}

form {
  width: 500px;
  margin: auto;
}

#contato-section label {
    font-weight: bold;
}

#contato-section input {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: 0.25s ease-in;
    margin: 0.25rem 0 0.5rem 0;
}

#contato-section input:focus {
    border-color: #234a8b;
}

#contato-section select {
    width: 101%;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: 0.25s ease-in;
    margin: 0.25rem 0 0.5rem 0;
}

#contato-section select:focus {
    border-color: #234a8b;
}

#contato-section textarea {
    width: 99%;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: 0.25s ease-in;
    margin: 0.25rem 0 0.5rem 0;
}

#contato-section textarea:focus {
    border-color: #234a8b;
}

.button {
	background-color:#234a8b;
  width: 101%;
	border-radius:10px;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding: 9px 23px;
  transition: 0.25s ease-in;
}

.button:hover {
	background-color: #3a7be7;
}

#contato-footer {
  background: #ffffff;
  color: #000000;
}


/* Utilities */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #3a7be7;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2564cd;
}

::-webkit-scrollbar-thumb:active {
    background: #2564cd;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
