<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">

    <title>index1 </title>
</head>

<body bgcolor="#ffffff">
    <header id="contato-header">
        <h1>Desenvolvimento Web 1</h1>
    </header>
    <nav id="contato-nav">
        <ul class="ul-nav">
            <a href="index.html">Index</a>
            <a href="aluno1.html">Aluno 1</a>
            <a href="aluno2.html">Aluno 2</a>
            <a href="aluno3.html">Aluno 3</a>
            <a href="contato.html">Contato</a>
        </ul>
    </nav>
    <section id="contato-section">
      <form autocomplete="off" method="GET">
        <label for="nome">Nome:</label></br>
        <input name="nome" type="text" /></br>
        <label for="email">E-mail:</label></br>
        <input name="email" type="text" /></br>
        <label for="telefone">Telefone:</label></br>
        <input name="telefone" type="text" /></br>
        <label for="prioridade">Prioridade:</label></br>
        <select name="prioridade" id="prioridade">
          <option value="sm">Baixa</option>
          <option value="md">Média</option>
          <option value="lg">Alta</option>
        </select></br>
        <label for="mensagem">Mensagem:</label></br>
        <textarea name= "mensagem" rows="4"></textarea></br>
        <button class="button" type="submit" value="Submit">Enviar</button>
      </form>
    </section>
    <footer id="contato-footer">
        &copy; Desenvolvido por Vinícius Gugelmin, Lucas Rodrigues, Omar Pereira - 2020
    </footer>
</body>
</html>
