<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">

    <title>index1 </title>
</head>

<body>
    <header class="cabecalho">
        <h1>Desenvolvimento Web 1</h1>
    </header>
    <nav class="bt-2 bb-2">
        <ul>
            <li>Index</li>
            <li>Aluno 1</li>
            <li>Aluno 2</li>
            <li>Aluno 3</li>
            <li>Contato</li>
        </ul>
    </nav>
    <div class="flex-box">
        <div class="conteudo">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
        <div class="conteudo bl-1">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
        <div class="conteudo bl-1">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
        <div class="conteudo bl-1">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
