<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">

    <title>index1 </title>
</head>

<body bgcolor="#003388">
    <header id="main-header">
        <h1>Desenvolvimento Web 1</h1>
    </header>
    <nav id="main-nav">
        <ul class="ul-nav">
            <a href="index.html">Index</a>
            <a href="aluno1.html">Aluno 1</a>
            <a href="aluno2.html">Aluno 2</a>
            <a href="aluno3.html">Aluno 3</a>
            <a href="contato.html">Contato</a>
        </ul>
    </nav>
    <section id="main-section">
        <div class="conteudo">
            <ul>
                <li>
                    <h1>Tema:</h1>
                    <h2>HTML e CSS</h2>
                </li>
                <li>
                    <h1>Entrega:</h1>
                    <h2>13/04/2020</h2>
                </li>
                <li>
                    <h1>Horário:</h1>
                    <h2>22h00</h2>
                </li>
                <li>
                    <h1>Máximo de alunos:</h1>
                    <h2>3</h2>
                </li>
                <li>
                    <h1>Valor:</h1>
                    <h2>2,0 pontos</h2>
                </li>
            </ul>
        </div>
        <div class="conteudo">
            <ul>
                <li>
                    <h1>Aluno:</h1>
                    <h2 id="nome1"></h2>
                </li>
                <li>
                    <h1>Matrícula:</h1>
                    <h2 id="matricula1"></h2>
                </li>
                <li>
                    <h1>E-mail:</h1>
                    <h2 id="email1"></h2>
                </li>
            </ul>
          </div>
          <div class="conteudo">
            <ul>
                <li>
                    <h1>Aluno:</h1>
                    <h2 id="nome2"></h2>
                </li>
                <li>
                    <h1>Matrícula:</h1>
                    <h2 id="matricula2"></h2>
                </li>
                <li>
                    <h1>E-mail:</h1>
                    <h2 id="email2"></h2>
                </li>
            </ul>
          </div>
          <div class="conteudo">
            <ul>
                <li>
                    <h1>Aluno:</h1>
                    <h2 id="nome3"></h2>
                </li>
                <li>
                    <h1>Matrícula:</h1>
                    <h2 id="matricula3"></h2>
                </li>
                <li>
                    <h1>E-mail:</h1>
                    <h2 id="email3"></h2>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        &copy; Desenvolvido por Vinícius Gugelmin, Lucas Rodrigues, Omar Pereira - 2020
    </footer>
</body>
</html>
<script>

// Variável 1
var aluno1 = { nome: "Vinícius Gugelmin", matricula: "2002137", email: "vinigugelmin@hotmail.com"}

// Inserções no HTML - Variável 1
document.getElementById("nome1").innerHTML = aluno1.nome;
document.getElementById("matricula1").innerHTML = aluno1.matricula;
document.getElementById("email1").innerHTML = aluno1.email;

// Variável 2
var aluno2 = { nome: "Lucas Rodrigues", matricula: "matricula", email: "vinigugelmin@hotmail.com"}

// Inserções no HTML - Variável 2
document.getElementById("nome2").innerHTML = aluno2.nome;
document.getElementById("matricula2").innerHTML = aluno2.matricula;
document.getElementById("email2").innerHTML = aluno2.email;

// Variável 3
var aluno3 = { nome: "Omar Pereira", matricula: "2002152", email: "omar.sedoski@hotmail.com"}

// Inserções no HTML- Variável 3
document.getElementById("nome3").innerHTML = aluno3.nome;
document.getElementById("matricula3").innerHTML = aluno3.matricula;
document.getElementById("email3").innerHTML = aluno3.email;

</script>
