<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css">

    <title>index1 </title>
</head>

<body>
    <header id="main-header">
        <h1>Desenvolvimento Web 1</h1>
    </header>
    <nav id="main-nav">
        <ul class="ul-nav">
            <li>Index</li>
            <li>Aluno 1</li>
            <li>Aluno 2</li>
            <li>Aluno 3</li>
            <li>Contato</li>
        </ul>
    </nav>
    <section id="main-section">
        <div class="conteudo">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
        <div class="conteudo bl-1">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
        <div class="conteudo bl-1">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
        <div class="conteudo bl-1">
            <ul>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
                <li>
                    <h1>texto</h1><br/> texto
                </li>
            </ul>
        </div>
    </section>
    <footer>
        &copy; Desenvolvido por Vinícius Gugelmin, Lucas Rodrigues, Omar Pereira - 2020
    </footer>
</body>

</html>
